.current {
    display: block;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.display {
    font-size: 40px;
    text-align: center;
    display: block;
}

.form {
    padding: 3rem;
    justify-content: center;
    display: block;
}

.set {
    border-radius: 10px;
    display: block;
    text-align: center;
    align-content: center;
}

.p {
    display: flex;
    justify-content: center;
}

